
<launch>
  <!-- Launch desired trajectory -->
  <node name="traj_publisher" pkg="controller_pkg" type="traj_publisher"/>

  <!-- Launch our controller -->
  <node name="controller_node" pkg="controller_pkg" type="controller_node"/>

  <!-- Controller gains -->
  <param name="kx" type="double" value="1" />
  <param name="kv" type="double" value="1" />
  <param name="kr" type="double" value="1" />
  <param name="komega" type="double" value="1" />

</launch>
