<launch>
  <!-- Run this launch file to test whether the drone can fly to the first waypoint-->
  <!-- Arguments -->
  <arg name="simulator_data_directory"     default="$(env HOME)/vnav-builds/lab4/lab4_Data"/>

  <!-- Launch our controller -->
  <node name="controller_node" pkg="controller_pkg" type="controller_node"/>
  <!-- TODO: Copy your controller gains from lab 3 to here! -->
  <!-- Controller gains -->
  <param name="kx" type="double" value="1" />
  <param name="kv" type="double" value="1" />
  <param name="kr" type="double" value="1" />
  <param name="komega" type="double" value="1" />

  <!-- Launch traj vertices publisher -->
  <node name="traj_vertices_publisher" pkg="planner_pkg"
        type="traj_vertices_publisher" output="screen">

    <!-- Parameters -->
    <param name="simulator_data_directory"                value="$(arg simulator_data_directory)"/>
  </node>

  <!-- Launch planner -->
  <!-- This node simple subscribe to the trajectory vertices topic and output the first point-->
  <node name="simple_traj_planner" pkg="planner_pkg" type="simple_traj_planner"/>

</launch>
